@import '../utilities';

.nav-bar-separator {
  border-bottom: .2rem black solid;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  ul.links {
    list-style: none;
    margin: 0;

    li {
      display: inline-block;
      padding: 1rem;

      a {
        text-decoration: none;
        color: black;
        padding: 5px;
      }

      a.current {
        border-bottom: 3px solid darkorange;
      }

      &:hover {
        background: $hover-background;
      }
    }
  }

  div.profile {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      display: inline;
      margin: 0;
    }

    button {
      background-color: white;
      padding: .5rem;
      font-size: 1rem;
      border: 1px solid black;
      border-radius: 6px;

      &:hover {
        background: $hover-background;
      }
    }
  }
}

